.headerProfile {
  height: 400px;
  width: 100%;
  padding-top: 20px;
  color: white;
  background-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #6ec6e9;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-top: 120px
}

.headerName {
  font-size: xx-large;
}