nav {
  position: fixed;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color:#4056A1;
  color:#FFFFFF ;
  font-family: "Bungee";
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  z-index: 9999;
}

.tweetText {
  /* color: #ffffff;
  font-size: 20px;
  width: 275px;
  height: 50px;
  background-color: #5ab6bb;
  float: right;
  margin: 0.75em;
  text-align: center;
  */
  /* background: #4e5e7a;
  border: 2px solid #ffffff;
  border-radius: 5px; */
  padding: 0.5em;
  font-size: 25px;
  display: inline-flex;
  font-family: "Source Sans Pro";
  flex-direction: column;
  align-items: center;
}

/* fix */
.tweetText i {
  padding-left: 10px;
  padding-top: 2px;
  right: 48%;
  bottom: -1.5em;
  color: white;
  animation: bounce 2s ease infinite;

}
.tweetText i:hover {
  color: red;
  cursor: pointer;
  /* font-size: 1.2em;
  bottom: -1em;
  animation: bounce 2s ease infinite; */
}


.tweetText i::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}



@keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-10px);
  }
  65% {
    transform: translateY(-5px);
  }
  85% {
    transform: translateY(0px);
  }
}



