.new-tweet {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #eee;
  width: 100%;
  justify-content: center;
  padding: 10px;
  position: relative;

}

/* .new-tweet input {
  background-color: #4056A1;
  color: white;
  border-width: 0;
} */

.new-tweet input {
  font-family: Bungee, sans-serif;
  background-color: #4056A1;
  color: #f4f1ec;
  outline: none;
  padding: 6px 9px;
  margin-top: 8px;
}
.new-tweet input:hover {
  box-shadow: 1px 1px rgb(56, 103, 255);
  cursor: pointer;
}


.counter {
  font-family: Bungee, sans-serif;
  color: #545149;
  float: right;
  margin-top: 14px;
}


/* 
.new-tweet form {
  padding: 10px;
  position: relative;
} */

.new-tweet label{
  font-weight: bold;
  padding-top: 10px;
  color: #7e7e7e;
}


.new-tweet textarea {
  display: flex;
  font-weight: bold;
  margin-top: 4px;
  width: 1000px;
  padding: 5px;
  border-style: none;
  border-bottom: black;
  border-bottom-style: groove;
  background-color: #eee;
  font-size: large;
  padding-top: 50px;
}

/* .new-tweet div {
  display: flex;
  padding-top: 1%;
  justify-content: space-between;
  font-family: "Bungee";
  
} */

.error {
  display: none;
  color: #D8000C;
  background-color: #ffa4a4;
  border-radius: 5px;
  font-weight: 100;
  font-size: revert;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.fa-triangle-exclamation {
  display: inline-block;
  padding-left: 5px;
}





.characterLimit {
  color: red;
}



