
/* Styles for the tweet container that the tweets are placed in when new tweets are made */
#tweetsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
  
}


/* Individulal styling for each tweet posted (individual "article" containers) */
#tweetsContainer article {
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 4px;
  width: 1000px;
  border-style: none;
  border-bottom: black;
  border-bottom-style: groove;
  background-color: #eee;
  font-size: large;
  padding-top: 10px;
  border: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Styling for when the user hovers over the article/tweet within the container under the text area */
article:hover {
  box-shadow: 5px 5px lightblue;
}

/* Stlying for the header of the tweet */
.messageHeader {
  height: 400px;
  width: 100%;
  padding-top: 20px;
  color: rgb(107, 0, 0);
  display:inline;
}

/* Styling for the content within the header of the tweet */
.messageHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  font-size: larger;
}

/* Styling for the users name within the message header */
.c1 {
  font-weight: 100;
}

/* Styling for the users handle within the message header */
.c2 {
  color: rgb(177, 157, 157);
}

/* Styling for the footer of the tweet */
footer {
  display: inline-block;
  width: inherit;
}

/* Styling for the reactions that can be done for each tweet (flag, retweet, and like) */
.reactionImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

/* Styling for the hover effects if one of these reactions are hovered upon */
.fa-flag:hover {
  color: rgb(0, 165, 110);
  cursor: pointer;
}
.fa-retweet:hover {
  color: rgb(255, 208, 0);
  cursor: pointer;
}
.fa-heart:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}


/* Styling for the users avatar so it doesnt appear too abnormally large */
.resize {
  width: auto;
  height: 80px;
  display: inherit;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

/* Styling for the content of the tweet that gets displayed */
.tweetContent {
  border-bottom: black;
  border-style: none;
  border-bottom-style: groove;
  display: block;
  border-left-width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 30px;
  font-size: larger;
  word-break: break-word;
  padding-right: 25px;
}
/* Styling for the tweet content that was made, just included another code for the padding on the right
since this would not affect the bottom border that was used in the ".tweetContent" styling */
text {
  padding-right: 25px;
}